/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-06-2020, 17:50:08
    Author     : lanxi
*/

body 
{
    color: #333;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    margin :0;
    background-color: whitesmoke;


}



.Contenedor-parrafo
{
    text-align: center;
    position: relative;

}

.nav-link
{

    color:#ffffff;
}


.Titulos
{
    width: 100%;
    font-size: 22PX;
    color: #66ccff;
    text-decoration: underline;
}

.Titulos1
{
    width: 100%;
    font-size: 22PX;
    color: #ffffff;
    text-decoration: underline;
}


.parrafos
{
    color:#ffffff;

    font-size:18px; 
    font-family: 'Lato', sans-serif;; 
    text-justify: distribute; 
}

.parrafos-2
{
    color:#ffffff;
    font-size:19px; 
    font-family: 'Lato', sans-serif;; 
    text-justify: auto;  

}

.parrafos-3
{
    color:#ffffff;
    font-size:19px; 
    font-family: 'Lato', sans-serif; 
    text-justify: auto;  
    text-decoration: underline;

}

.ParrafoP
{
    font-size: 15px;
    color: white;
    text-justify:initial;
}

.SolicitudI
{
 margin-top: 20px;
 margin-bottom: 20px;
 background: #3498DB ;
}
.form-control
{
    width: 400px;
    margin: 0 auto;
}
.footer
{
    
    color: white;
    background: #424242;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0;
    padding-bottom: 0;

}
.container-footer
{
    width: 100%;
}

/* contenedores adicionales */
.contenedor-formulario
{
    border-radius: 7%;
    background: rgba(22, 144, 182, 0.77);
}

.containerazul
{
    border-radius: 5%;
    background-color: rgba(28, 180, 226, 0.77);   
    ;
}

.containerblanco
{
    border-radius: 0%;
    background-color: rgba(232, 244, 247, 0.77);
}

#foto1
{
    border-radius: 5%;
}

