/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-06-2020, 17:50:08
    Author     : lanxi
*/

body 
{
color: #333;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 1.2rem;
margin :0;

}
h1
{
    line-height: 1.3em;
    font-size: 2em;
}
.container
{
    width: 85%;
    max-width: 850px;
    margin: 0e;
}
/* Panel Superior */

.header
{
    background: rgb(28, 180, 226);
    color :white;
    padding: 2rem 0;
    position: absolute;
    left:0;
    top:0;
    width: 100%;


}

.header a 
{
    color: white;
    text-decoration: none;
}
.logo-nav-container
{
 display: flex;
 justify-content: space-between;
 align-items: flex-end ;
 flex-wrap: wrap;
}
.navigation ul
{
    margin: 0;
    padding :0;
    list-style: none;

}
.navigation ul li 
{
    display: inline-block;
}

.navigation ul li a
{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius : 5px;
   
    
}

.navigation ul li a:hover
{
    background: rgb(6, 151, 196);    

}

.main
{
    padding-top: 12rem ;
}

/* no mostrar menu  */
.menu-icon
{
    display:  flex;
    
}

/* contenedores adicionales */
.contenedor-formulario
{
    border-radius: 7%;
    background-color: rgb(28, 180, 226);
}

.containerazul
{
    border-radius: 5%;
    background-color: rgb(28, 180, 226);    
    ;
}

.containerblanco
{
    border-radius: 0%;
    background-color: rgb(238, 238, 238);
}

#foto1
{
    border-radius: 5%;
}

/* pie de pagina */
.footer
{
    background: rgb(11, 154, 197);
    padding: 4rem 0;
    text-align: center;
    margin-top: 6rem;
}



/* CARRUSEL */
/* ---------------------------------------------------------- */
.containerC {
    margin-top: 20px;
}

/* Carousel Styles */
.carousel-indicators .active {
    background-color: #2980b9;
}

.carousel-inner img {
    width: 100%;
    max-height: 100%;
}

.carousel-control {
    width: 0;
}

.carousel-control.left,
.carousel-control.right {
	opacity: 1;
	filter: alpha(opacity=100);
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
}

.carousel-control.left span {
	padding: 15px;
}

.carousel-control.right span {
	padding: 15px;
}

.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
	position: absolute;
	top: 45%;
	z-index: 5;
	display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
	left: 0;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
	right: 0;
}

.carousel-control.left span,
.carousel-control.right span {
	background-color: #000;
}

.carousel-control.left span:hover,
.carousel-control.right span:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}


